.about-submenu{
    /* display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    position: absolute;
    background-color: #fff !important;
    color: #000;
    z-index: 999;
    top: 35px;
    left: 8px;
    transition: all 1.2s ease; */
    position: absolute;
    list-style: none;
    text-align: start;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 65px;
    /* left: 500px; */
    left: 32.3%;
    padding: 6px 15px;
    /* width: 6%; */
    background-color: #fff;
    font-weight: 700;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 3px;
    margin-bottom: 0;
}
.about-submenu li{
    padding-bottom: 20px;
    cursor: pointer;
    height: 40px;
}
.about-item{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}
.about-submenu.clicked{
    display: none;
}

@media(max-width:1500px){
    .about-submenu{
        left: 32%;
    }
}
@media(max-width:1450px){
    .about-submenu{
        left: 31.5%;
    }
}
@media(max-width:1400px){
    .about-submenu{
        left: 31%;
    }
}
@media(max-width:1380px){
    .about-submenu{
        left: 30.5%;
    }
}
/* .services-submenu li a {
    color: #000;
    background-color: #fff;
    padding: 10px 80px 10px 10px;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    line-height: 32px;
} */
/* .services-submenu li a:hover {
    background-color: #FD4A18;
    color: #fff;
} */
