.contact-message-container{
    padding: 100px 110px 0;
}
.contact-message-title h2{
    padding: 0;
}
.contact-message-title h5{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -.6px;
    color: rgb(97, 97, 97);
}
.contact-message-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.contact-form-element{
    height: 60px;
    background-color: rgba(20,29,56,.05);
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Rajdhani",sans-serif;
    transition: all .3s;
    border: none;
    outline: none;
    color: #000;
    margin: 0 5px 30px;
    width: 20%;
}

.contact-form-group{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.contact-form-group textarea{
    resize: none;
    width: 100%;
    height: 150px;
    padding-top: 15px;
}
.contact-form-button{
    display: flex;
    justify-content: center;
}
.contact-message-button{
    background-color: #FD4A18;
    color: #fff;
    font-family: Rajdhani,sans-serif;
    padding: 12px 25px;
    border-radius:5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;
    width: 99px;
    /* max-width: 100px; */
    height: 60px;
    border: 2px solid rgba(25, 25, 25, .1);
    text-decoration: underline;
    width: 190px;
    text-align: center;
}
.contact-message-button:hover{
    text-decoration: none;
    background-color: #000000;
}
@media(max-width:1250px){
    .contact-message-container{
        padding: 100px 55px 0;
    }
}
@media(max-width:1126px){
    .contact-form-element{
        width: 19%;
    }
}
@media(max-width:959px){
    .contact-form-element{
        width: 43%;
    }
    .contact-form-group{
        justify-content: center;
    }
}
@media(max-width:840px){
    .contact-form-element{
        width: 100%;
    }
    
}