.latest-skills-container{
    padding: 100px 110px;
    display: flex;
    justify-content: space-between;
}
.latest-skills-left{
    display: flex;
    align-items: center;
    padding-right: 30px;
}
.latest-skills-left img{
    padding-right: 15px;
}
.latest-skills-right{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.ls-chartes{
    display: flex;
    justify-content: space-between;
}
.ls-chart-left h2, .ls-chart-right h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -.9px;
}
.ls-chart-left h2 span, .ls-chart-right h2 span{
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -.9px;
}