.popular-container{
    background-color: #191919;
    padding: 130px 110px;
    display: flex;
    justify-content: space-between;
}
/* span{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 13px;
    line-height: 30px;
    color: #FD4A18;
    text-decoration: underline;
    text-transform: uppercase;
} */
.popular-left{
    padding-top:50px ;
    padding-right: 40px;
}
.popular-header{
    color: #fff;
}
.popular-p{
    color: rgba(255, 255, 255,.6);
    margin-bottom: 30px;
    line-height: 30px;
    font-family: Roboto,sans-serif;
}
.p-section-logo{
    width: 130px;
    margin-right: 30px;
}
.p-section-logo img{
    width: 100%;
    filter: invert(40%) sepia(44%) saturate(6378%) hue-rotate(352deg) brightness(104%) contrast(98%);

}
.p-section-text a{
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    transition: all .3s ease;
}
.p-section-text a:hover{
    color: #FD4A18;
}

.p-section-text p{
    color: rgba(255, 255, 255,.6);
    font-family: Roboto,sans-serif;
    margin: 0;
}
.popular-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-right-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(97, 97,97);
}

.p-right-bottom{
    display: flex;
    justify-content: space-between;
}
.p-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-right-top .p-section:nth-child(1),.p-right-bottom .p-section:nth-child(1){
    padding: 60px 50px 50px 0;
}
.p-right-top .p-section:nth-child(2),.p-right-bottom .p-section:nth-child(2){
    padding: 60px 0 50px 50px ;
}
.p-right-top .p-section:nth-child(1){
    border-right: 1px solid rgb(97, 97,97);
}
.p-right-bottom .p-section:nth-child(1){
    border-right: 1px solid rgb(97, 97,97);

}
.p-section-logo:hover{
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

    /* animation-name:p-shake;
    animation-duration: .6s;
    animation-iteration-count: 3; */
}
/* @keyframes p-shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-3px, 0px) rotate(-1deg); }
    20% { transform: translate(-5px, 0px) rotate(1deg); }
    30% { transform: translate(3px,0px) rotate(0deg); }
    40% { transform: translate(5px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 0px) rotate(-1deg); }
    60% { transform: translate(-3px,0px) rotate(0deg); }
    70% { transform: translate(3px, 0px) rotate(-1deg); }
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    90% { transform: translate(1px,0px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(-1deg); }
} */
@media (max-width:1470px){
    .popular-container{
        padding: 130px 55px;
    }
}
@media (max-width:1350px){
    .popular-container{
        flex-direction: column;
    }
    .popular-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
    }
    .popular-left p, .popular-left h2{
        text-align: center;
    }
}
@media (max-width:1000px){
    .popular-container{
        padding: 65px 50px;
    }
}
@media (max-width:844px){
    .p-right-top .p-section:nth-child(1){
        border-right: none;
    }
    .p-right-bottom .p-section:nth-child(1){
        border-right: none;
    }
    .p-right-top{
        border-bottom: none;
    }
}
@media (max-width:820px){
    
    .p-section-text a{
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom:5px;
    }
    .p-section-text p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .popular-container{
        padding: 65px 45px;
    }
    .p-right-top .p-section:nth-child(1),.p-right-bottom .p-section:nth-child(1){
        padding: 30px 25px 25px 0;
    }
    .p-right-top .p-section:nth-child(2),.p-right-bottom .p-section:nth-child(2){
        padding: 30px 0 25px 25px ;
    }
    .p-right-top ,.p-right-bottom {
        display: flex;
        flex-direction: column;
    }
    .p-section-logo {
        width: 75px;
    }
    .p-right-top .p-section:nth-child(1),.p-right-bottom .p-section:nth-child(1){
        padding-left: 0;
    }
    .p-right-top .p-section:nth-child(2),.p-right-bottom .p-section:nth-child(2){
        padding-left: 0;
    }
    .p-section{
        justify-content: center;
    }
}
