.specializes-container {
    text-align: center;
    background-color: #F8F8F8;
    padding: 50px 110px;
}

.specializes-head p {
    font-size: 20px;
    font-weight: 700;
    color: #FD4A18;
    text-decoration: underline;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    color: #000;
}

.specializes-head {
    padding-top: 20px;
    padding-bottom: 40px;
}

.specializes-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specializes-element {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.specializes-icon {
    width: 130px;
    transition: 1.5s ease;
    padding-right: 20px;
    text-align: start;
}

.specializes-icon img {
    width: 100%;
    filter: invert(40%) sepia(44%) saturate(6378%) hue-rotate(352deg) brightness(104%) contrast(98%);
}

.specializes-icon:hover {
    /* animation: shake .6s;
    animation-iteration-count: infinite; */
    /* animation-name:shake;
    animation-duration: .6s;
    animation-iteration-count: 3; */

    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    /* transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; */
}

/* @keyframes shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px,0px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 0px) rotate(-1deg); }
    60% { transform: translate(-3px,0px) rotate(0deg); }
    70% { transform: translate(3px, 0px) rotate(-1deg); }
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    90% { transform: translate(1px,0px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(-1deg); }
} */

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.specializes-text h3 {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-align: left;
    margin: 0 0 7px 0;

}

.specializes-text h3:hover {
    color: #FD4A18;
}

.specializes-text p {
    margin: 0;
    text-align: left;
}

@media (max-width:1200px) {
    .specializes-container {
        padding: 25px 55px;
    }

    .specializes-head {
        padding-bottom: 20px;
    }

}

@media (max-width:1055px) {
    .specializes-container {
        padding: 25px 15px;
    }

}

@media (max-width:970px) {
    .specializes-body {
        flex-direction: column;
    }

    .specializes-element {
        padding-bottom: 30px;
    }

    .specializes-icon {
        width: 45px;
    }
}
@media (max-width:768px) {
    .specializes-icon {
        width: 60px;
       
    }
}
@media (max-width:648px) {
    .specializes-icon {
        width: 70px;
       
    }
}