.testimonials-element-container{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 275px;
    padding: 30px 40px 60px 40px;
    margin: 0 15px;
    background-color: white;
    z-index: -4;
    transition: all .5s ease;
}
.testimonials-element-container:hover{
    transform: translateY(-30px);
}
.te-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    
    position: relative;
}
.te-top h5{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.6px;
    line-height: 30px;
}
.te-foot{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.testimonials-image{
    padding-right: 30px;
}
/* .testimonials-image::after{
    position: absolute;
    bottom: 6px;
    left: 16px;
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #e8e9ea;
    z-index: -1;
    transition: all .5s ease;
} */
.te-foot .quote-image{
    padding-right: 10px;
}
.quote-image{
    width: 45px;
}
.quote-image img{
    width: 100%;
    filter: invert(43%) sepia(45%) saturate(4591%) hue-rotate(347deg) brightness(95%) contrast(109%);
}
.te-foot h5{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.6px;
    line-height: 20px;
}